h1 {
    color: rgb(0, 140, 255);
    font-size: 40px;
    font-family: cursive;
}
/* !FIX */
body {
    background-color: #242424;
}

ul {
    color: #FFFFFF;
    font-size: 24px;
    font-family: cursive;
}